.icon{
  font-size: 25px;
  color: rgb(0, 0, 0);
}

.ic-sections{
  font-size: 20px;
  color: white;
}

.icon:hover{
  cursor: pointer;
}

.ic-main{
  display: flex;
  font-size: 40px;
  align-items: center;
  margin: 0 0 0 16px;
  border-radius: 50%;
  background-color: #0866FF;
  color: white;
  width: 40px;
}

.ic-main:hover{
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease; 
}

.ic-sections:hover {
  transform: scale(1.2); 
  transition: transform 0.3s ease; 
}

.ic-sections {
  padding: 10px;
  background-color: rgb(104, 103, 103);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.ico-sidebar{
  display: flex;
  align-items: center;
  font-size: 36px;
  padding-right: 8px;
}

.ic-options {
  font-size: 20px;
  margin: 8px 12px 8px 0px;
 /*  border-radius: 70%;
  background-color: rgb(182, 179, 179); */
  display: flex;
  align-items: center;
  justify-content: center;
}