.grid-container{
  display: grid;
  grid-template-columns: 20% 1fr 20%;
}

.grid-item1{
  grid-column-start: 1;
  grid-column-end: 4;
}

.grid-item2{
  margin-top: 59px;
}

.grid-item4{
  margin-top: 59px;
}