/* User Interaction */
.user-inter{
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  justify-content: center;
  padding-bottom: 132px;
  padding-top: 92px ;
}

/* Form Styles */

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5); 
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 10px 0 24px;
  width: 396px;
  height: 349.83px;
  width: 396px;
  align-items: center;
}

/*Login Box*/

.login-box{
  height: 496px;
  width: 396px;
}

.in-ce{
  padding: 6px 0px;
}

.cre-inputs{
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
}

.input-log{
  padding: 14px 16px;
  font-size: 17px;
  width: 330px;
  border-radius: 6px;
  border: 1px solid #dddfe2
}

.b-log{
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0px 16px;
  width: 366px;
  color: #FFFFFF;
}

.sb-b{
  padding: 6px 0px 0px 0px;
}

.a-recover{
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
}

.a-recover a{
  text-decoration: none;
  color: #1877f2;
}


.line-b{
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
  width: 364px;
}

.su-b{
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  background-color: #42b72a;
  color: #fff;
}

.msg{
  border-top: none;
  margin-top: 28px;
  color: inherit;
  font-weight: 600;
  color: #1c1e21;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding-top: 0;
  text-align: center;
}

.msg a{
  text-decoration: none;
  color: #1c1E21;
}

.current-modal{
  width: 536px;
  padding-right: 48px;
}

.logo-name{
  color:#1877f2;
  font-size: 36px;
  font-weight: 1000;
  margin: 0px;
  padding: 0px 0 16px 0;
}

.ls-t2{
  font-size: 36px;
  color: #333;
  line-height: 1.34;
  font-family: Helvetica, Arial, sans-serif;
}

.ls-t3{
  color: #606770;
  font-size: 15px;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  line-height: 24px;
  margin-bottom: 12px;
  padding-bottom: 12px;
}

.lang-list1{
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  padding-top: 8px ;
}

.lang-list1 a{
  text-decoration: none;
  color: #8a8d91;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
}

.lang-list1 li{
  padding-left: 20px;
}

.lang-sep{
  border-bottom: 1px solid #dddfe2;
  font-size: 1px;
  height: 8px;
  margin-bottom: 8px;
}

.lang-list2{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  width: 1000px;
}

.lang-list2 a{
  text-decoration: none;
  color: #8a8d91;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
}
.lang-list2 li {
  white-space: nowrap;
  padding-left: 20px;
}

.inter-footer{
  width: 980px;
  margin: 0px auto;
}

.more-lang{
  bottom: 1px;
  position: relative;
  vertical-align: middle;
  font: 12px;
}

.lang-list2 span {
  vertical-align: middle;
}

.brand{
  color: #737373;
  padding-left: 20px;
  font-size: 11px;
  font-family: 'Noto Sans', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Add account modal */

.add-account{
  width: 160px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #dddfe2;
  display: block;
  user-select: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.add-acc-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  color: #1877f2;
  font-size: 52px;
  width: 160px;
  height: 160px;
}

.add-account-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: 12px;
  font-size: 18px;
  color: #1877f2;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  line-height: 22px;
}

.add-account:hover{
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #dddfe2;
  display: block;
  transition: all .5s ease;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5); 
}
