.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  
  height: 56px;
  position: fixed;
  width: 100%;

  z-index: 10000;

}

.options{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 50px 100px;
}

.sections {
  display: flex;
  align-items: center;
}

.logo-input{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 220px;
}

.search-input{
  color: rgb(0, 0, 0);
  width: 115px;
  text-decoration: none;
  border: none;
  padding-block: 0px;
  padding-inline: 0px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  outline: none;
  box-shadow: none;
  border-radius: 20px;
}

.search-input::placeholder{
  color: rgb(32, 32, 32);
}