.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; 
}

/* Estilos para el modal */
.modal {
  background: #fff;
  border-radius: 8px;
  width: 432px;
  height: 531.67px;
  margin: 20px;
  text-align: center;
  z-index: 1000; 
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background: transparent;
}

/* Modal Form */
.sig-msg{
  display: grid;
  grid-template-rows: auto auto;
  padding: 10px 16px;
  text-align: left;
}

.md-t{
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.md-sb{
  font-family: 'Noto Sans', sans-serif;
  color: #606770;
  font-size: 15px;
  font-weight: normal;
}

/* Sign-up Form */

.signup-form{
  padding: 16px;
}

.fullname-field{
  display: flex;
  flex-direction: row;
}

.n-f, .ln-f, .m-f{
  padding: 11px;
  margin-bottom: 10px;
  
  /* font-size: 15px; */
}

.n-f{  
  margin-right: 8px;
}

.m-f, .pw-f{
  padding-block: 0px;
  padding-inline: 0px;
  padding: 11px;
  width: 374px;
  margin: 0px;
  margin-bottom: 10px;
}

.n-f, .ln-f, .m-f, .pw-f, .day-d,
.mth-d, .year-d,
.male, .female, .personalized{
  border-radius: 5px;
  border-color: #ccd0d5;
  border: 1px solid #ccd0d5;
}


.birth-d-msg, .gender-s{
  color: #606770;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 2px;
  text-align: left;
}
.birth-date-data{
  display: flex;
  flex-direction: row;
}

.day-d, .mth-d, .year-d{
  width: 125px;
  height: 36px;
  padding: 0px 8px;
  padding-right: 20px;
  background-size: 14px;
  font-size: 15px;
}

.month, .year{
  padding-left: 12px;
}

.gender{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.male, .female, .personalized{
  background-color: #fff;
    border: 1px solid #ccd0d5;
    box-sizing: border-box;
    display: inline-block;
    flex: 1 0 auto;
    font-weight: normal;
    height: 36px;
    margin: 8px 6px 6px;
    padding: 0;
    position: relative;
    font-size: 15px;
    line-height: 36px;
    padding: 0 10px 0 10px;
    justify-content: space-between;
    margin: 0px;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
}

.fst-msg, .snd-msg{
  color: #777;
  font-size: 11px;
  text-align: left;
  margin: 11px 0px;
  font-family: Helvetica, Arial, sans-serif;;
}

.rgst-sbm-btn{
  background-color: #00a400;
  width: 194px;
  height: 36px;
  letter-spacing: normal;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  padding: 0 32px;
  text-shadow: none;
  border: none;
  margin: 10px 0px;
}